<div class="container">
    <%= no_posts_tag%>
    <%= render "form" if user_signed_in? %>
    <% @posts.each do |post| %>
    <div class="media">
        <%= profile_image_tag(post)%>
        <div class="post">
            <%=username_tag(post)%>
            <p class="py-3"><%=post.post%></p>
        </div>
    </div>
    <% end %>
</div>